body {
  font-size: 18px;
}

.input {
  font-size: 18px;
}

header {
  text-align: center;
}

.album-list {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #ccffff;
}

.true {
  background-color: #ccffe6;
}

.false {
  background-color: #ffcccc;
}

.album-link {
  color: #000000;
}

#divider {
  border-right: 1px solid black;
  height: inherit;
}

.animate-hide {
  transition: all linear 1s;
  height: auto;
  opacity: 1;
}

.animate-hide.ng-hide {
  transition: all linear 0.5s;
  height: -500;
  opacity: 0;
}
