body {
  font-size: 18px;
}

.input {
  font-size: 18px;
}

header {
  text-align: center;
}

.album-list {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #ccffff;
}

.true {
  background-color: #ccffe6;
}

.false {
  background-color: #ffcccc;
}

.album-link {
  color: #000000;
}

#divider {
  border-right: 1px solid black;
  height: inherit;
}

.animate-hide {
  transition: all 1s ease-in 0.5s;
  height: auto;
  opacity: 1;
}

.animate-hide.ng-hide {
  height: 0;
  opacity: 0;
  transform: rotateY(180deg);
  transition: all 1s ease-in;
}
